@import "./variables.scss";

.index-page {
  .heart-index {
    position: absolute;
    right: 200px;
    bottom: 20px;
    font-size: 24px;
    cursor: pointer;
  }

  .heart-index input[type="checkbox"] {
    display: none;
  }

  .heart-index .heart-empty,
  .heart-index .heart-full {
    font-size: 24px;
    transition: opacity 1s ease, color 1s ease, -webkit-background-clip 1s ease;
  }

  .heart-index .heart-full {
    opacity: 0;
    color: transparent;
    -webkit-background-clip: text;
    background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
    background-clip: text;
  }

  .heart-index input[type="checkbox"]:checked + label .heart-empty {
    opacity: 0;
  }

  .heart-index input[type="checkbox"]:checked + label .heart-full {
    opacity: 1;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .restaurants {
    background-color: $bg-color;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */

    h2 {
      margin-left: 20px; /* Adjust the left margin if needed */
      margin-top: 0; /* Adjust the top margin if needed */
    }
  }

  main {
    overflow: hidden;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
    gap: 20px; /* Add gap between cards */
    width: 100%;
  }

  .cards {
    width: 90%; /* Adjust width for mobile view */
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px #0000001a;
    position: relative;
  }

  .cards img {
    width: 100%;
    object-fit: cover;
    height: 179px;
    border-radius: 15px 15px 0 0;
  }

  .padd-text {
    padding: 20px; /* Add padding for better spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust spacing between elements */
  }

  .margin-texth3 {
    margin: 0;
    font-size: 18px; /* Adjust font size */
  }

  .margin-textp {
    margin: 5px 0 10px 0; /* Adjust margin */
  }

  .box-text {
    background-color: #99e2d0;
    padding: 7px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #0f9070;
    position: absolute;
    top: 20px;
    right: 20px; /* Adjust position */
    width: auto;
  }

  @media (min-width: 768px) {
    .restaurants {
      align-items: flex-start; /* Align items to the start for desktop view */
      padding-left: 0;

      h2 {
        align-self: center;
        text-align: center; /* Align h2 to the left for desktop */
        margin-left: 0; /* Adjust the left margin if needed */
        margin-bottom: 20px; /* Add bottom margin for spacing */
      }
    }

    .cards-container {
      flex-direction: row; /* Switch to row layout for larger screens */
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto; /* Center the container */
    }

    .cards {
      flex: 0 1 calc(50% - 10px); /* Adjust width for larger screens */
      margin-bottom: 20px;
    }

    .heart-index {
      right: 190px; /* Adjust position for desktop */
      bottom: 10px; /* Adjust position for desktop */
    }
  }
}
