@import "./variables.scss";
.note_enchante-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .note_enchante-page .menu {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px #0000001a;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .note_enchante-page .titre-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  }
  
  .note_enchante-page .plats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .note_enchante-page .button-plats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0px #0000001a;
    width: 100%;
  }
  
  .note_enchante-page .text-plats {
    display: flex;
    flex-direction: column;
  }
  
  .note_enchante-page .button-intro {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
  }
  